.App {
  text-align: center;
  background-color: rgba(34, 34, 34, 0.15);
  margin-top: 20%;
  width: 70%;
  border-radius: 10px;
  padding: 10px;
}

body {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

.App-logo {
  height: 80px;
  width: auto;
}

.App-header {
  background-color: rgba(34, 34, 34, 0.15);
  padding: 10px;
  color: white;
}

.App-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 4.5em;
  text-transform: uppercase;
}

.icons {
  position: relative;
  text-align: center;
  width: 70%;
  margin-top: 30px;
}
.icons a {
  font-size: 2em;
  color: #fff;
  background-color: rgba(34, 34, 34, 0.15);
  transition: .5s linear;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: inline-block;
  padding-top: .5em;
}
.icons a:hover {
  color: rgba(34, 34, 34, 0.15);
  background-color: transparent;
}
